                    .background-app {
                        z-index: 1;
                        position: fixed;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        background-image: url("../images/original/full-hd-bg.png");
                        background-size: cover;
                    }
                    
                    .bird {
                        position: absolute;
                        top: 250px;
                        left: 150px;
                        width: 38px;
                        height: 26px;
                        background-image: url("../images/original/bird.png");
                        background-size: cover;
                    }
                    
                    .pipe-top,
                    .pipe-bottom {
                        position: absolute;
                        left: 1600px;
                        width: 52px;
                        background-size: cover;
                    }
                    
                    .pipe-top {
                        top: 0;
                        background-image: url("../images/original/pipe-top.png");
                        background-position: bottom;
                    }
                    
                    .pipe-bottom {
                        bottom: 100px;
                        background-image: url("../images/original/pipe-bottom.png");
                    }
                    
                    .foreground {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 100px;
                        background-image: url("../images/original/fg.png");
                        background-size: contain;
                        /* background-repeat: repeat-x; */
                    }
                    
                    #game-app {
                        position: relative;
                    }
                    
                    .scores {
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                    }
                    
                    .tutorial {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                    }
                    
                    .start-screen {
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 2;
                    }
                    
                    .start-screen .img-bg-start {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-image: url("../images/original/background-watiing.jpg");
                        background-size: cover;
                        z-index: 1;
                        opacity: 0.5;
                    }
                    
                    .start-screen .list-button button {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 2;
                        font-weight: bold;
                        font-size: 1em;
                        letter-spacing: 0.1em;
                        text-decoration: none;
                        color: #ffffff;
                        display: inline-block;
                        padding: 10px 40px 10px 40px;
                        border: 3px solid #ffffff;
                        border-radius: 20px;
                    }
                    
                    .choose-theme-screen {
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 3;
                    }
                    
                    .choose-theme-screen .img-choose-theme {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-image: url("../images/original/background-watiing.jpg");
                        background-size: cover;
                        z-index: 1;
                    }
                    /*                         
                        .choose-theme-screen .list-button button {
                            position: relative;
                            top: 50%;
                            left: 600px;
                            z-index: 2;
                            width: 300px;
                            height: 100px;
                            font-weight: bold;
                            font-size: 1em;
                            letter-spacing: 0.1em;
                            text-decoration: none;
                            color: red;
                            display: inline-block;
                            padding: 10px 40px 10px 40px;
                            border: 3px solid black;
                            border-radius: 20px;
                            transition: 2s;
                        } */
                    
                    .buttonOri {
                        position: fixed;
                        top: 0;
                        left: 600px;
                        z-index: 2;
                        width: 300px;
                        height: 100px;
                        font-weight: bold;
                        font-size: 1em;
                        letter-spacing: 0.1em;
                        text-decoration: none;
                        color: red;
                        display: inline-block;
                        padding: 10px 40px 10px 40px;
                        border-radius: 20px;
                        transform-style: preserve-3d;
                        transition: 3s;
                    }
                    
                    .face {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        width: 300px;
                        height: 100px;
                        font-weight: bold;
                        font-size: 1em;
                        letter-spacing: 0.1em;
                        text-decoration: none;
                        display: inline-block;
                        padding: 10px 40px 10px 40px;
                        border: 3px solid black;
                        border-radius: 20px;
                        transform-style: preserve-3d;
                    }
                    
                    .choose-theme-screen .list-button .imgOri {
                        background-image: url("../images/original/flap.png");
                        background-size: cover;
                        transform: rotateY(180deg);
                    }
                    
                    .buttonOri:hover {
                        transform: rotateY(180deg);
                    }
                    
                    .buttonGreek {
                        position: fixed;
                        top: 100px;
                        left: 600px;
                        z-index: 2;
                        width: 300px;
                        height: 100px;
                        font-weight: bold;
                        font-size: 1em;
                        letter-spacing: 0.1em;
                        text-decoration: none;
                        color: black;
                        display: inline-block;
                        padding: 10px 40px 10px 40px;
                        border-radius: 20px;
                        transform-style: preserve-3d;
                        transition: 3s;
                    }
                    
                    .choose-theme-screen .list-button .imgGreek {
                        background-image: url("../images/greek-times/chienBinh3.jpg");
                        background-size: cover;
                        transform: rotateY(180deg);
                    }
                    
                    .buttonGreek:hover {
                        transform: rotateY(180deg);
                    }
                    
                    .buttonAmong {
                        position: fixed;
                        top: 200px;
                        left: 600px;
                        z-index: 2;
                        width: 300px;
                        height: 100px;
                        font-weight: bold;
                        font-size: 1em;
                        letter-spacing: 0.1em;
                        text-decoration: none;
                        color: black;
                        display: inline-block;
                        padding: 10px 40px 10px 40px;
                        border-radius: 20px;
                        transform-style: preserve-3d;
                        transition: 3s;
                    }
                    
                    .choose-theme-screen .list-button .imgAmong {
                        background-image: url("../images/among-us/Among1.jpg");
                        background-size: cover;
                        transform: rotateY(180deg);
                    }
                    
                    .buttonAmong:hover {
                        transform: rotateY(180deg);
                    }